<style type="text/css">
    .datagrid-view .datagrid-editable-input {
        min-height: 140px;
    }
</style>

    <table id="{{$thisId}}dg" style="width: 99%;height:100%;">
        <thead>
            <tr>
                <th data-options="field:'template_id',width:'50',align:'center',sortable:true">id</th>
                <th data-options="field:'hit_num',width:'80',align:'center',sortable:true">命中次数</th>
                <th data-options="field:'domain',width:'150',align:'center',styler:common.cellStylerRed">目标域名</th>
                <th data-options="field:'template',width:'550',align:'center',editor:'textarea',sortable:true">模板</th>
                <th data-options="field:'statusDesc',width:'110',align:'center'">状态</th>
                <th data-options="field:'scopeDesc',width:'110',align:'center'">信任</th>
                <th data-options="field:'desc',width:'110',align:'center'">描述</th>
                <th data-options="field:'action',width:'110',align:'center'">操作</th>
            </tr>
        </thead>
    </table>
    <div id="{{$thisId}}tb" style="padding:5px;height:auto">
        <div>
            <form id="{{$thisId}}fm">
                筛选:
                <select class="easyui-combobox" name="tplStatus" panelHeight="auto" style="width:100px">
                    <option value="1"> 未处理 </option>
                    <option value="2"> 信任 </option>
                    <option value="3"> 备忘 </option>
                    <option value="4"> 存在漏洞 </option>
                    <option value="0" selected="selected"> 全部 </option>
                </select>
                <a href="javascript:void(0);" class="easyui-linkbutton searchBtn" iconCls="icon-search" onclick="{{$thisId}}.search()">查询</a>
            </form>
        </div>
    </div>
    <div id="{{$thisId}}dlg">
        <form method="get" style="height:100%;width:95%;" onsubmit="return false;">
            <input type="hidden" value="" name="template_id">
            <table style="height:100%;width:auto;">
                <thead>
                    <tr>
                        <th width="80"></th>
                        <th width="300"></th>
                    </tr>
                </thead>
                <tbody>
                        <tr><td align="center">模板：</td><td style="word-break: break-all;"></td></tr>
                        <tr><td align="center">域名：</td><td></td></tr>
                        <tr><td align="center">范围：</td><td>
                            <input type="radio" value="1" name="scope" checked>仅本站
                            <input type="radio" value="2" name="scope">所有站点
                        </td></tr>
                        <tr><td align="center">类别：</td><td>
                            <input type="radio" value="1" name="status" checked>未处理
                            <input type="radio" value="2" name="status">信任
                            <input type="radio" value="3" name="status">备忘
                            <input type="radio" value="4" name="status">存在漏洞
                            </td></tr>
                        <tr><td align="center">说明：</td><td>
                            <input type="text" name="desc" style="width: 100%;">
                        </td></tr>
                </tbody>
            </table>
        </form>
    </div>
<script type="text/javascript">
    // 自执行函数包裹，防止变量冲突
    var {{$thisId}} = (function(){
        // 初始配置id
        var idStr = '{{$thisId}}';
        // table配置
        var tableOpt = {
            url: 'tpl/listData',
            pageSize: {{$pageSize}},
            loadFilter: function(data){
                for (var i = data.rows.length - 1; i >= 0; i--) {
                    // 操作
                    var tid =
                    data.rows[i].action = '<a href="javascript:void(0);" onclick="'+idStr+'.openDialog(\'dlg\',['
                        + data.rows[i].template_id
                        + '], event);">管理</a> | <a href="javascript:void(0);" onclick="common.addTab(\'模板-'
                        + data.rows[i].template_id
                        + '\', \'log/list/?template_id='
                        + data.rows[i].template_id
                        + '\');">查看</a>';
                }
                return data;
            },
        }
        // dialog配置
        var dlgName = 'dlg';
        var dlgOpt = {
            dlgName: dlgName,
            title: '模板管理' ,
            iconCls: 'icon-save',
            width: 500,
            height: 300,
            saveUrl: 'tpl/saveData',
            /**
             * 点击[管理]，打开窗口
             */
            openDialogFunc: function () {
                var tid = arguments[0],
                    event = arguments[1];
                var dlgDom = this.dialog[dlgName];
                // 获取数据
                var rows = this.table.datagrid('getRows'), row;
                for (var i in rows) {
                    if (rows[i].template_id == tid) {
                        row = rows[i]
                    }
                }
                // 表单带入值
                var dialogTr = dlgDom.find('tr');
                dialogTr.eq(1).children('td').eq(1).html(row.template)
                dialogTr.eq(2).children('td').eq(1).html(row.domain)
                dlgDom.find('form').form('load', row);
                // 打开窗口，阻止冒泡
                dlgDom.dialog('open');
                event.stopPropagation();
            }
        }
        // 生成页码
        return new TbFmDlgsObj(idStr).setTable(tableOpt).setDialog(dlgOpt);
    }());
</script>
