<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><!-- 兼容ie8 -->
    <!-- <meta http-equiv="refresh" content="0;url=./web/index.php"> n秒后跳转  -->
    <meta name="Robots" content="none"><!-- 禁止搜索引擎 -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <style type="text/css">
        .maopao {
            height: 100px;
            border: solid;
        }
    </style>
</head>
<body>
    <a href="__ROOT__">ROOT::__ROOT__</a><br/>
    <a href="__APP__">APP::__APP__</a><br/>
    <a href="__MODULE__">MODULE::__MODULE__</a><br/>
    <a href="__ACTION__">ACTION::__ACTION__</a><br/>
    <a href="__SELF__">SELF::__SELF__</a><br/>
    <a href="__CONTROLLER__">CONTROLLER::__CONTROLLER__</a><br/>
    <a href="__URL__">URL::__URL__</a><br/>
    <a href="__PUBLIC__">PUBLIC::__PUBLIC__</a><bór/>
</body>
</html>  