<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>闲鱼采集数据</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {font-size: 18px; font-family: "微软雅黑","Arial Narrow",HELVETICA;} td {padding: 10px;} img {width: 120px;} .bs-docs-header, .bs-docs-masthead {position: relative; padding: 30px 0; color: #cdbfe3; text-shadow: 0 1px 0 rgba(0,0,0,.1); background-color: #6f5499; background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499)); background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%); background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%); background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0); background-repeat: repeat-x; } .bs-docs-header{margin-bottom:40px;font-size:20px}.bs-docs-header h1{margin-top:0;color:#fff}.bs-docs-header p{margin-bottom:0;font-weight:300;line-height:1.4}.bs-docs-header .container{position:relative}
        .glyphicon-heart {float:right; cursor:pointer;}
        .glyphicon-heart:hover {color: red; }
        .gray {color: gray;}
        .red {color: red;}
    </style>
</head>
<body>
    <div class="bs-docs-header">
        <div class="container" id="start">
            <form method="get" class="form-inline">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label class="sr-only" for="searchkeyword">&nbsp;输入关键词...</label>
                    <input type="text" class="form-control" id="searchkeyword" placeholder="&nbsp;输入关键词...">
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="readed" value="1"> 看未读
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="like" value="1"> 看收藏
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="col-md-9">
            <ul class="list-group">
            <foreach name="list" item="vo">
                <li class="list-group-item">
                    <a href="{$vo.fish_url}" target="_blank">{$vo.fish_title}</a>
                    <if condition="$vo.readed eq 0"><span style="color:green;font-weight: bold;font-style: italic;">&nbsp;&nbsp;new~</span></if>
                    <br>
                    <foreach name="vo.fish_image_url" item="image">
                        <image width="200" src="{$image}">&nbsp;&nbsp;
                    </foreach>
                    <br>
                    <span style="color:red;">{$vo.fish_price}元</span>&nbsp;&nbsp;
                    {$vo.fish_time}&nbsp;&nbsp;
                    {$vo.fish_pool_name}
                    <span id="{$vo.id}" title="like it" class="glyphicon glyphicon-heart <if condition="$vo.like eq 1">red<else />gray</if>" ></span>
                </li>
                <br><br>
            </foreach>
            <ul>
            <!-- {$page} -->
        </div>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            // 收藏按钮
            $('.glyphicon-heart').on('click', function() {
                var id = $(this).attr('id');
                $.get('__URL__/like?id='+id);
                var oldColor = $(this).hasClass('gray') ? 'gray' : 'red';
                var newColor = oldColor == 'gray' ? 'red' : 'gray';
                $(this).removeClass(oldColor).addClass(newColor);
            });
            // 滚动动作
            var stop = false;
            $(window).scroll(function() {
                var top = $(window).scrollTop();  // 滚动高度
                var height = $(window).height();  // 浏览器可视窗口的高度
                var Hheight = $(document).height();  // 整个文档的高度
                if (top+height+5 > Hheight) {
                    console.log(stop)
                    if (stop == true) {
                        return false;
                    } else {
                        stop = true;
                    }
                    $('.list-group').append('============================<br>');
                    $.getJSON('__URL__/getData?json=true&readed=1', function(d) {
                        $.each(d, function(index, val) {
                            var li = `<li class="list-group-item">
                            <a href="${val.fish_url}" target="_blank">${val.fish_title}</a>
                            <if condition="$val.readed eq 0"><span style="color:green;font-weight: bold;font-style: italic;">&nbsp;&nbsp;new~</span></if>
                            <br>`;
                            $.each(val.fish_image_url, function(index2, val2) {
                                li += `<image width="200" src="${val2}">&nbsp;&nbsp;`
                            });
                            li += `<br>
                            <span style="color:red;">${val.fish_price}元</span>&nbsp;&nbsp;
                            ${val.fish_time}&nbsp;&nbsp;
                            ${val.fish_pool_name}
                            <span id="${val.id}" title="like it" class="glyphicon glyphicon-heart <if condition="$val.like eq 1">red<else />gray</if>" ></span>
                        </li><br>`;
                            $('.list-group').append(li);

                            $('.glyphicon-heart').on('click', function() {
                                var id = $(this).attr('id');
                                $.get('__URL__/like?id='+id);
                                var oldColor = $(this).hasClass('gray') ? 'gray' : 'red';
                                var newColor = oldColor == 'gray' ? 'red' : 'gray';
                                $(this).removeClass(oldColor).addClass(newColor);
                            });
                        });
                        stop = false;
                    })
                };
            });
        })
    </script>
</body>
</html>